# MIMIC-IV Cohort Exploration
## Initial Analysis of the Master Cohort

This notebook provides an initial exploration of the generated cohort from MIMIC-IV data.

In [5]:
import pandas as pd
import numpy as np

# Load the cohort
cohort = pd.read_csv('../data/processed/cohort_labeled.csv')

print(f"Cohort shape: {cohort.shape}")
print(f"Number of ICU stays: {len(cohort):,}")
print(f"Number of unique patients: {cohort['subject_id'].nunique():,}")
print(f"\nColumns: {list(cohort.columns)}")

Cohort shape: (73181, 19)
Number of ICU stays: 73,181
Number of unique patients: 50,920

Columns: ['subject_id', 'hadm_id', 'stay_id', 'gender', 'age', 'marital_status', 'insurance', 'admission_type', 'admission_location', 'discharge_location', 'first_careunit', 'last_careunit', 'admittime', 'dischtime', 'intime', 'outtime', 'mortality', 'los_days', 'los_category']

In [6]:
# Display first few rows
cohort.head(10)

,subject_id,hadm_id,stay_id,gender,age,marital_status,insurance,admission_type,admission_location,discharge_location,first_careunit,last_careunit,admittime,dischtime,intime,outtime,mortality,los_days,los_category
0,10000032,29079034,39553978,F,52,WIDOWED,Medicaid,EW EMER.,EMERGENCY ROOM,HOME,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 12:35:00,2180-07-25 17:55:00,2180-07-23 14:00:00,2180-07-23 23:50:47,0,0.410266,0
1,10000980,26913865,39765666,F,76,MARRIED,Medicare,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 07:38:00,2189-07-03 03:00:00,2189-06-27 08:42:00,2189-06-27 20:38:27,0,0.497535,0
2,10001217,24597018,37067082,F,55,MARRIED,Other,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-18 22:56:00,2157-11-25 18:00:00,2157-11-20 19:18:02,2157-11-21 22:08:00,0,1.118032,0
3,10001217,27703517,34592300,F,55,MARRIED,Other,DIRECT EMER.,PHYSICIAN REFERRAL,HOME HEALTH CARE,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-18 16:58:00,2157-12-24 14:55:00,2157-12-19 15:42:24,2157-12-20 14:27:41,0,0.948113,0
4,10001725,25563031,31205490,F,46,MARRIED,Other,EW EMER.,PACU,HOME,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:08:00,2110-04-14 15:00:00,2110-04-11 15:52:22,2110-04-12 23:59:56,0,1.338588,0
5,10001884,26184834,37510196,F,77,MARRIED,Medicare,OBSERVATION ADMIT,EMERGENCY ROOM,DIED,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-01-07 20:39:00,2131-01-20 05:15:00,2131-01-11 04:20:05,2131-01-20 08:27:30,1,9.171817,2
6,10002013,23581541,39060235,F,57,SINGLE,Medicare,SURGICAL SAME DAY ADMISSION,PHYSICIAN REFERRAL,HOME HEALTH CARE,Cardiac Vascular Intensive Care Unit (CVICU),Cardiac Vascular Intensive Care Unit (CVICU),2160-05-18 07:45:00,2160-05-23 13:30:00,2160-05-18 10:00:53,2160-05-19 17:33:33,0,1.314352,0
7,10002155,20345487,32358465,F,83,MARRIED,Other,EW EMER.,EMERGENCY ROOM,DIED,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2131-03-09 20:33:00,2131-03-10 01:55:00,2131-03-09 21:33:00,2131-03-10 18:09:21,1,0.858576,0
8,10002155,23822395,33685454,F,81,MARRIED,Other,EW EMER.,PROCEDURE SITE,CHRONIC/LONG TERM ACUTE CARE,Coronary Care Unit (CCU),Coronary Care Unit (CCU),2129-08-04 12:44:00,2129-08-18 16:53:00,2129-08-04 12:45:00,2129-08-10 17:02:38,0,6.178912,1
9,10002155,28994087,31090461,F,82,MARRIED,Other,EW EMER.,EMERGENCY ROOM,HOME HEALTH CARE,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2130-09-23 21:59:00,2130-09-29 18:55:00,2130-09-24 00:50:00,2130-09-27 22:13:41,0,3.891447,1

In [7]:
# Summary statistics for numerical columns
cohort.describe()

,subject_id,hadm_id,stay_id,age,mortality,los_days,los_category
count,7.318100e+04,7.318100e+04,7.318100e+04,73181.000000,73181.000000,73181.000000,73181.000000
mean,1.499819e+07,2.498133e+07,3.499274e+07,64.676091,0.113814,3.451931,0.427925
std,2.886067e+06,2.884400e+06,2.889261e+06,16.879965,0.317587,4.922840,0.682053
min,1.000003e+07,2.000009e+07,3.000015e+07,18.000000,0.000000,0.001250,0.000000
25%,1.249126e+07,2.248335e+07,3.248935e+07,54.000000,0.000000,1.084225,0.000000
50%,1.499894e+07,2.496964e+07,3.499389e+07,66.000000,0.000000,1.926782,0.000000
75%,1.751327e+07,2.747180e+07,3.748840e+07,77.000000,0.000000,3.713322,1.000000
max,1.999999e+07,2.999983e+07,3.999981e+07,102.000000,1.000000,110.232280,2.000000

## Target Variable Analysis

In [8]:
# Mortality distribution
print("=" * 60)
print("MORTALITY DISTRIBUTION")
print("=" * 60)
print(cohort['mortality'].value_counts())
print(f"\nMortality rate: {cohort['mortality'].mean() * 100:.2f}%")

print("\n" + "=" * 60)
print("LENGTH OF STAY DISTRIBUTION")
print("=" * 60)
print(f"Mean LOS: {cohort['los_days'].mean():.2f} days")
print(f"Median LOS: {cohort['los_days'].median():.2f} days")
print(f"Min LOS: {cohort['los_days'].min():.2f} days")
print(f"Max LOS: {cohort['los_days'].max():.2f} days")

print("\n" + "=" * 60)
print("LOS CATEGORY DISTRIBUTION")
print("=" * 60)
print("0: Short (<3 days)")
print("1: Medium (3-7 days)")
print("2: Long (>7 days)")
print("\n", cohort['los_category'].value_counts().sort_index())

============================================================
MORTALITY DISTRIBUTION
============================================================
mortality
0    64852
1     8329
Name: count, dtype: int64

Mortality rate: 11.38%

============================================================
LENGTH OF STAY DISTRIBUTION
============================================================
Mean LOS: 3.45 days
Median LOS: 1.93 days
Min LOS: 0.00 days
Max LOS: 110.23 days

============================================================
LOS CATEGORY DISTRIBUTION
============================================================
0: Short (<3 days)
1: Medium (3-7 days)
2: Long (>7 days)

 los_category
0    49929
1    15188
2     8064
Name: count, dtype: int64